cdk-step-functions-and-sdk-integration/.stateMachineASL/SUT.asl.json
{
  "StartAt": "ListObjectsInitial",
  "States": {
    "ListObjectsInitial": {
      "Next": "ForEachObject",
      "Type": "Task",
      "Resource": "arn:CDK_TOKEN:states:::aws-sdk:s3:listObjectsV2",
      "Parameters": {
        "Bucket": "CDK_TOKEN",
        "MaxKeys": 3
      }
    },
    "ForEachObject": {
      "Type": "Map",
      "ResultPath": null,
      "Next": "IsContinuation",
      "Parameters": {
        "Content.$": "$$.Map.Item.Value",
        "BucketName.$": "$.Name"
      },
      "Iterator": {
        "StartAt": "HeadObject",
        "States": {
          "HeadObject": {
            "Next": "PutObjectIndex",
            "Type": "Task",
            "ResultPath": "$.Head",
            "Resource": "arn:CDK_TOKEN:states:::aws-sdk:s3:headObject",
            "Parameters": {
              "Bucket.$": "$.BucketName",
              "Key.$": "$.Content.Key"
            }
          },
          "PutObjectIndex": {
            "End": true,
            "Type": "Task",
            "ResultPath": null,
            "Resource": "arn:CDK_TOKEN:states:::dynamodb:putItem",
            "Parameters": {
              "Item": {
                "bucketName": {
                  "S.$": "$.BucketName"
                },
                "key": {
                  "S.$": "$.Content.Key"
                },
                "metadata": {
                  "M": {
                    "lastModified": {
                      "S.$": "$.Content.LastModified"
                    },
                    "contentType": {
                      "S.$": "$.Head.ContentType"
                    }
                  }
                }
              },
              "TableName": "CDK_TOKEN"
            }
          }
        }
      },
      "ItemsPath": "$.Contents"
    },
    "ListObjectsContinuation": {
      "Next": "ForEachObject",
      "Type": "Task",
      "Resource": "arn:CDK_TOKEN:states:::aws-sdk:s3:listObjectsV2",
      "Parameters": {
        "Bucket": "CDK_TOKEN",
        "MaxKeys": 3,
        "ContinuationToken.$": "$.NextContinuationToken"
      }
    },
    "WaitForTwoSeconds": {
      "Type": "Wait",
      "Seconds": 2,
      "Next": "ListObjectsContinuation"
    },
    "IsContinuation": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.NextContinuationToken",
          "IsPresent": true,
          "Next": "WaitForTwoSeconds"
        }
      ],
      "Default": "End"
    },
    "End": {
      "Type": "Pass",
      "End": true
    }
  }
}