cdk-step-functions-and-sdk-integration/.stateMachineASL/SUT.asl.json
{
  "StartAt": "ListObjects",
  "States": {
    "ListObjects": {
      "Next": "ForEachObject",
      "Type": "Task",
      "Resource": "arn:CDK_TOKEN:states:::aws-sdk:s3:listObjectsV2",
      "Parameters": {
        "Bucket": "CDK_TOKEN"
      }
    },
    "ForEachObject": {
      "Type": "Map",
      "End": true,
      "Parameters": {
        "Content.$": "$$.Map.Item.Value",
        "BucketName.$": "$.Name"
      },
      "Iterator": {
        "StartAt": "HeadObject",
        "States": {
          "HeadObject": {
            "Next": "PutObjectIndex",
            "Type": "Task",
            "ResultPath": "$.Head",
            "Resource": "arn:CDK_TOKEN:states:::aws-sdk:s3:headObject",
            "Parameters": {
              "Bucket.$": "$.BucketName",
              "Key.$": "$.Content.Key"
            }
          },
          "PutObjectIndex": {
            "End": true,
            "Type": "Task",
            "Resource": "arn:CDK_TOKEN:states:::dynamodb:putItem",
            "Parameters": {
              "Item": {
                "bucketName": {
                  "S.$": "$.BucketName"
                },
                "key": {
                  "S.$": "$.Content.Key"
                },
                "metadata": {
                  "M": {
                    "lastModified": {
                      "S.$": "$.Content.LastModified"
                    },
                    "contentType": {
                      "S.$": "$.Head.ContentType"
                    }
                  }
                }
              },
              "TableName": "CDK_TOKEN"
            }
          }
        }
      },
      "ItemsPath": "$.Contents",
      "MaxConcurrency": 6
    }
  }
}