integration-testing-with-cdk/src/cdk/stacks/test/stateMachines/ResultCalculatorStateMachine.asl.json
{
  "StartAt": "ReadInputFileHeader",
  "States": {
    "ReadInputFileHeader": {
      "Next": "SwitchOnFileType",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "MaxAttempts": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "PublishInputFileHeaderReadError"
        }
      ],
      "Type": "Task",
      "ResultPath": "$.fileHeader",
      "Resource": "${Token[TOKEN.430]}",
      "Parameters": {
        "s3Key.$": "$.fileEvent.s3Key"
      }
    },
    "SwitchOnFileType": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.fileHeader.fileType",
          "StringEquals": "Configuration",
          "Next": "ReadScenarioHeaders"
        },
        {
          "Variable": "$.fileHeader.fileType",
          "StringEquals": "Scenario",
          "Next": "ReadConfigurationHeaders"
        }
      ],
      "Default": "PublishUnhandledFileTypeError"
    },
    "PublishUnhandledFileTypeError": {
      "Next": "UnhandledFileTypeFailure",
      "Type": "Task",
      "Resource": "arn:${Token[AWS.Partition.10]}:states:::sns:publish",
      "Parameters": {
        "TopicArn": "${Token[TOKEN.495]}",
        "Message": {
          "error": "Unhandled FileType",
          "fileEvent.$": "$.fileEvent",
          "fileHeader.$": "$.fileHeader"
        }
      }
    },
    "UnhandledFileTypeFailure": {
      "Type": "Fail",
      "Cause": "Unhandled FileType"
    },
    "ReadScenarioHeaders": {
      "Next": "CombineHeaders",
      "Type": "Task",
      "ResultPath": "$.scenarios",
      "Resource": "${Token[TOKEN.457]}",
      "Parameters": {
        "fileType": "Scenario"
      }
    },
    "CombineHeaders": {
      "Next": "CalculateResults",
      "Type": "Task",
      "ResultPath": "$.combinations",
      "Resource": "${Token[TOKEN.484]}"
    },
    "ReadConfigurationHeaders": {
      "Next": "CombineHeaders",
      "Type": "Task",
      "ResultPath": "$.configurations",
      "Resource": "${Token[TOKEN.457]}",
      "Parameters": {
        "fileType": "Configuration"
      }
    },
    "CalculateResults": {
      "Type": "Map",
      "End": true,
      "Iterator": {
        "StartAt": "CalculateResult",
        "States": {
          "CalculateResult": {
            "End": true,
            "Type": "Task",
            "Resource": "${Token[TOKEN.376]}"
          }
        }
      },
      "ItemsPath": "$.combinations"
    },
    "PublishInputFileHeaderReadError": {
      "Next": "InputFileHeaderReadFailure",
      "Type": "Task",
      "Resource": "arn:${Token[AWS.Partition.10]}:states:::sns:publish",
      "Parameters": {
        "TopicArn": "${Token[TOKEN.495]}",
        "Message": {
          "error": "Failed to read the input file",
          "cause.$": "$.Cause"
        }
      }
    },
    "InputFileHeaderReadFailure": {
      "Type": "Fail",
      "Cause": "Failed to read the input file"
    }
  }
}