api-design-part-2/deploy/stateMachines/TwentyQuestionsStateMachineBuilder.asl.json
{
  "StartAt": "EvaluateHasLegs",
  "States": {
    "EvaluateHasLegs": {
      "Next": "HasLegs",
      "Type": "Task",
      "ResultPath": "$.answer",
      "Resource": "${Token[TOKEN.163]}",
      "Parameters": {
        "expression": "($.animal.legCount) > 0",
        "expressionAttributeValues": {
          "$.animal.legCount.$": "$.animal.legCount"
        }
      }
    },
    "HasLegs": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.answer",
          "BooleanEquals": true,
          "Next": "EvaluateHasMoreThanTwoLegs"
        }
      ],
      "Default": "EvaluateHasScales"
    },
    "EvaluateHasScales": {
      "Next": "HasScales",
      "Type": "Task",
      "ResultPath": "$.answer",
      "Resource": "${Token[TOKEN.163]}",
      "Parameters": {
        "expression": "($.animal.hasScales)",
        "expressionAttributeValues": {
          "$.animal.hasScales.$": "$.animal.hasScales"
        }
      }
    },
    "HasScales": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.answer",
          "BooleanEquals": true,
          "Next": "AnswerSnake"
        }
      ],
      "Default": "AnswerWorm"
    },
    "AnswerWorm": {
      "Type": "Pass",
      "Result": "Worm",
      "End": true
    },
    "AnswerSnake": {
      "Type": "Pass",
      "Result": "Snake",
      "End": true
    },
    "EvaluateHasMoreThanTwoLegs": {
      "Next": "HasMoreThanTwoLegs",
      "Type": "Task",
      "ResultPath": "$.answer",
      "Resource": "${Token[TOKEN.163]}",
      "Parameters": {
        "expression": "($.animal.legCount) > 2",
        "expressionAttributeValues": {
          "$.animal.legCount.$": "$.animal.legCount"
        }
      }
    },
    "HasMoreThanTwoLegs": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.answer",
          "BooleanEquals": true,
          "Next": "EvaluateEatsHay"
        }
      ],
      "Default": "EvaluateCanFly"
    },
    "EvaluateCanFly": {
      "Next": "CanFly",
      "Type": "Task",
      "ResultPath": "$.answer",
      "Resource": "${Token[TOKEN.163]}",
      "Parameters": {
        "expression": "($.animal.canFly)",
        "expressionAttributeValues": {
          "$.animal.canFly.$": "$.animal.canFly"
        }
      }
    },
    "CanFly": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.answer",
          "BooleanEquals": true,
          "Next": "AnswerDuck"
        }
      ],
      "Default": "AnswerHuman"
    },
    "AnswerHuman": {
      "Type": "Pass",
      "Result": "Human",
      "End": true
    },
    "AnswerDuck": {
      "Type": "Pass",
      "Result": "Duck",
      "End": true
    },
    "EvaluateEatsHay": {
      "Next": "EatsHay",
      "Type": "Task",
      "ResultPath": "$.answer",
      "Resource": "${Token[TOKEN.163]}",
      "Parameters": {
        "expression": "($.animal.eatsHay)",
        "expressionAttributeValues": {
          "$.animal.eatsHay.$": "$.animal.eatsHay"
        }
      }
    },
    "EatsHay": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.answer",
          "BooleanEquals": true,
          "Next": "AnswerCow"
        }
      ],
      "Default": "AnswerCat"
    },
    "AnswerCat": {
      "Type": "Pass",
      "Result": "Cat",
      "End": true
    },
    "AnswerCow": {
      "Type": "Pass",
      "Result": "Cow",
      "End": true
    }
  }
}